[Desktop Entry]
Type=Application
Name=Create Icon Files
GenericName=Icon Generator
Comment=Automatically create the set of icon files for Linux, Windows, macOS, and Unix systems
Exec=create-icon-files %F
TryExec=create-icon-files
Icon=com.wheelhouser.create_icon_files
Terminal=false
Categories=Graphics;Development;
StartupNotify=true
StartupWMClass=create-icon-files
MimeType=image/png;image/jpeg;image/webp;image/svg+xml;image/tiff;image/bmp;application/pdf;
Keywords=icon;generator;android;ios;windows;linux;macos;web;